@model LFL.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "CoursesBySubject";
}

<h2>CoursesBySubject</h2>

<div>
    <h4>CourseViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
