@model LFL.Models.Course

@{
    ViewBag.Title = "Course Details";
}

<h2>Course</h2>

<div>
    <h3>
        @Html.DisplayFor(model => model.CourseName)</h3>
    <h4>@Html.DisplayFor(model => model.CourseInfo)</h4>
    <hr />
    <div>@Html.DisplayFor(model => model.CourseContent)</div>
</div>
<br/>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin, Teacher"))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.CourseID})
    }
    <button class="btn btn-default" type="submit" id="addressSearch" value="Sign Up"
            onclick="location.href = '@Url.Action("Index")'"> Return</button>
</p>
