@model IEnumerable<LFL.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses Available</h2>

<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseInfo)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID })
            }
            
            <button class="btn btn-default" type="submit" id="addressSearch" value="view"
                    onclick="location.href = '@Url.Action("Details",  new {id = item.CourseID})'">
               View Course
            </button>

            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            }

            <button class="btn btn-default" type="submit" id="addressSearch" value="Sign Up"
                    onclick="location.href = '@Url.Action("Enroll", "Enrollment", new {id = item.CourseID})'">
                Enroll
            </button>
        </td>
    </tr>
}

</table>
