@model IEnumerable<LFL.Models.MessageBoard>

@{
    ViewBag.Title = "Message Board";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicMessage)
        </td>
        <td>
            
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {

            @Html.ActionLink("Edit", "Edit", new {id = item.TopicID})
        }
            @Html.ActionLink("Details", "Details", new {id = item.TopicID}) |
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {

            @Html.ActionLink("Delete", "Delete", new {id = item.TopicID})
        }
        </td>
    </tr>
}

</table>
