@model IEnumerable<LFL.Models.MessageBoard>

@{
    ViewBag.Title = "Message Board";
}

<h2>Topics</h2>

<p>

    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicMessage)
        </td>
        <td>

            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <button class="btn btn-default" type="submit" id="addressSearch" value="view"
                        onclick="location.href = '@Url.Action("Edit",  new {id = item.TopicID})'">
                    Edit
                </button>

                
            }
            <button class="btn btn-default" type="submit" id="addressSearch" value="view"
                    onclick="location.href = '@Url.Action("Details",  new {id = item.TopicID})'">
                View Topic
            </button>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <button class="btn btn-default" type="submit" id="addressSearch" value="view"
                        onclick="location.href = '@Url.Action("Delete",  new {id = item.TopicID})'">
                    Delete
                </button>
                
            }
        </td>
    </tr>
}

</table>
