@model LFL.Models.Subject

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Subject Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dd>
           <button class="btn btn-info" type="button" id="addressSearch" value="Sign Up"   
                    onclick="location.href = '@Url.Action("Courses", "Courses By Subject", new { id = Model.SubjectID})'"/>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
